.with-border {
    padding: 8px;
    border: 2px black solid;
    border-radius: 8px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.response-container {
    align-items: center;
}

.response-table {
    table-layout: fixed;
    td {
        font-size: 24px;
        font-weight: 600;
        padding: 8px;
    }
}