.with-border {
    padding: 8px;
    border: 2px black solid;
    border-radius: 8px;
}

.response-container {
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
}

.response-table {
    table-layout: fixed;
    th {
        font-size: 20px;
        font-weight: 600;
        padding: 8px;
        text-decoration: underline;
    }
    td {
        font-size: 16px;
        font-weight: 500;
        padding: 8px;
    }
}