<app-header>
  <div class="navigation-bar-header">
    <div style="padding-right: 8px">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
    </div>
    <ng-container *ngTemplateOutlet="head"></ng-container>
  </div>
</app-header>
<mat-sidenav-container>
  <mat-sidenav
    class="navigation-bar-sidenav"
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    >
    <ng-container *ngTemplateOutlet="side"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="navigation-bar-content-container">
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
