@mixin navigation-bar-component($theme, $options) {
  $sidenavWidth: map-get(
    $map: $options,
    $key: sidenavWidth,
  );
  $headerHeight: map-get(
    $map: $options,
    $key: headerHeight,
  );
  .navigation-bar {
    &-header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    &-content-container {
      padding-top: $headerHeight;
      min-height: 100vh;
      box-sizing: border-box;
    }
    &-sidenav {
      padding-top: $headerHeight;
      min-height: 100vh;
      box-sizing: border-box;
    }
  }
}
