@mixin header-theme($theme) {
  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  //   $foreground: map-get($theme, foreground);
  //   $background: map-get($theme, background);

  // all of these variables contain many additional variables
  .tool-bar {
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: mat-color($primary);
    box-sizing: border-box;
    padding: 8px;
  }
}
