.navigation-header {
    width: 100%;
}
.content-container {
    margin-top: 64px;
}
.sidenav-container {
    margin-top: 64px;
    width: 240px;
}
.sidenav-content-container {
    position: fixed;
    max-width: 240px;
    box-sizing: border-box;
}