@import '~@angular/material/theming';
@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';
@import './app/component/header/header.component.scss';
// always include only once per project
@include mat-core();
$list: (
    light: (
        material: mat-light-theme($light-primary, $light-accent, $light-warn),
        theme: $light-theme
    ),
    dark: (
        material: mat-dark-theme($dark-primary, $dark-accent, $dark-warn),
        theme: $dark-theme
    )
);
@each $theme-name , $map in $list {
    .#{$theme-name}-theme{
        @include angular-material-theme(map-get($map, material));
        @include header-theme(map-get($map, theme));
    }
}

body {
  margin: 0;
}
$config: mat-typography-config();
* {
  font-family: mat-font-family($config);
}
